// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap/dist/css/bootstrap.min.css';

.form-label{
  font-size: 1.1rem;
}

.cat{
  cursor: pointer;
}

.cat label {
  margin: 0;
  cursor: pointer;
}

.cat label span {
  text-align: center;
  padding: 5px 10px;
  display: block;
  cursor: pointer;
}

.cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}

.action input:checked + span{
  background-color: #F8F9FA;
  border-radius: 0.25rem;
  color: black;
}

.fa-plus{
  font-size: 0.8rem;
}

.navbar{
  position: sticky;
}